<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>

<div class="container">
  <h1>Browsing The <%= name %> subreddit</h1>
  <h2><%= description %></h2>
  <p>
    <span>Total Subscribers</span>
    <%= subscribers %>
  </p>

  <hr />

  <% for (let post of posts) { %>
  <article>
    <p><%= post.title %> - <b><%= post.author %></b></p>
    <% if (post.img) { %>
    <img src=" <%= post.img %> " alt="" />
    <% } %>
  </article>
  <% } %>
</div>

<!-- %-  %>  - Outputs the unscaped value into the template > if there's HTML we're outputting, escaping means to treat the content as a string.
to unscaped means to treat as the intrinsic value, in this case HTML  content. -->

<%- include('partials/footer.ejs') %>
